@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Variabler */
:root{
  --Primary-100: #FFDE47;
  --Primary-75: #FFE77B;
  --Primary-50: #FFF1B2;
  --Secondary-100: #5CDBD9;
  --Secondary-75: #86E4E3;
  --Secondary-50: #B0EDED;
  --Tertiary-100: #2426CB;
  --Tertiary-75: #4748DE;
  --Tertiary-50: #7071E5;
  --Neutral-100: #1E2328;
  --Neutral-75: #3D4751;
  --Neutral-50: #9A9D98;
  --Neutral-25: #F6F2DE;
  --Neutral-0: #FFFBE6;
  --Heading-hero-size: 64px;
  --Heading-medium-size: 36px;
  --Heading-small-size: 24px;
  --body-regular-size: 16px;
  --body-small-size: 14px;
  --screen-width: 1200px;
}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Neutral-0);
}

main {
  max-width: var(--screen-width);
  margin: 0 auto;
}

main h3 {
  font-size: var(--Heading-medium-size);
}

main h2 {
  font-size: var(--Heading-hero-size);
}


/*===============================================================================================
    LOGO STYLING 
===============================================================================================*/

.logo a{
  color: var(--Neutral-100);
  display: flex;
  flex-direction: column;
  font-size: var(--Heading-small-size);
  font-weight: 900;
  text-decoration: none;
}

.logo a span{
  font-size: var(--Heading-medium-size);
}

/*===============================================================================================
    HEADER + NAV STYLING 
===============================================================================================*/
 
header{
  text-decoration: none;
  background-color: var(--Primary-75);
  font-family: "Outfit", sans-serif;
  padding: 1rem;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--screen-width);
  margin: auto;
}

.dropdownBtn img{
  height: var(--Heading-medium-size);
  padding: 0 2rem;
}

.navBar ul{
  display: flex;
  gap: 2.5rem;
  list-style: none;
} 

.navBar li{
  align-content: center;
}

.navBar li a{
  color: var(--Neutral-100);
  font-weight: 500;
  text-decoration: none;
  font-size: var(--Heading-small-size);
  border-bottom: solid;
  border-width: .5rem;
  border-color: #ffffff00;
}

#active{
  font-weight: 800;
  border-bottom: solid;
  border-width: .2rem;
  border-bottom-color: var(--Neutral-75);
}

.navBar li a:hover{
  color: var(--Neutral-100);
  font-weight: 500;
  text-decoration: none;
  font-size: var(--Heading-small-size);
  transition: 2ms ease-in;
  border-bottom: solid;
  border-bottom-color: var(--Tertiary-75);
}

.dropdown{
  position: relative;
}

.dropdownBtn{
  background-color: var(--Primary-75);
  padding: 0;
  border: none;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  margin-left: -3rem;
  position: absolute;
  padding: 1rem;
  background-color: var(--Primary-50);
  box-shadow: 10px 10px 10px -10px var(--Neutral-75);
  z-index: 1;
  text-align: center;
}

.show {
  display:block;
}


/*===============================================================================================
    FOOTER STYLING 
===============================================================================================*/

footer{
  max-width: 1920px;
}

.furSVG{
  height: 500px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.furSVG img{
  transform: rotate(180deg);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

footer section{
  display: flex;
  justify-content: space-between;
  max-width: var(--screen-width);
  margin: auto;
  padding: 13rem 1rem 0 0;
}

.footerText{
  z-index: 1;
  position: relative;
  display: flex;
  gap: 5rem;
}

.footerText ul{
  display: flex;
  gap: 2.5rem;
  list-style: none;
  flex-direction: column;
}

.footerText img{
  height: var(--Heading-small-size);
  padding: 0 .5rem;
}

.footerText li:first-child{
  font-weight: 700;
}

.footerText li a{
  display: flex;
  color: var(--Neutral-100);
  text-decoration: none;
  font-size: var(--body-regular-size);
  align-items: center;
}



/*===============================================================================================
BURGER PROFIL STYLING 
===============================================================================================*/

.brugerBaggrund, .brugerInfo{
  background-color: var(--Neutral-25);
}

.brugerBaggrund{
  padding: 0 1rem;
  width: 45rem;
}

section .scroll-container{
  overflow: auto;
  white-space: nowrap;
  scrollbar-color: var(--Neutral-50) var(--Neutral-25);
}

.scroll-container a{
  text-decoration: none;
  color: var(--Neutral-100);
}

.scroll-container a .hundGemt img, .scroll-container a .tipGemt img{
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.scroll-container a:hover .hundGemt img, .scroll-container a:hover .tipGemt img{
  opacity: .5;
}

.brugerContent{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.brugerInfo{
  display: flex;
  gap: 2rem;
  padding: 2rem 5rem;
  margin: 1rem 0;
}

.brugerInfo img{
  border-radius: 50%;
  height: 16rem;
}

.brugerInfo h3{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin: 0;
}

.brugerInfo div:nth-child(2){
  width: 22rem;
}

.brugerInfo p:nth-child(2){
  font-size: var(--body-small-size);
  margin-top: 0;
}

.brugerInfo p:nth-child(2) span{
  font-weight: 700;
}

.brugerInfo ul{
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.brugerInfo li:first-child{
  font-family: "Outfit", sans-serif;
  font-size: var(--Heading-small-size);
  padding-bottom: .5rem;
}

.brugerInfo li{
  padding-bottom: 1rem;
  font-weight: 700;
}

.brugerInfo li a, .brugerInfo li span{
  font-weight: 400;
}

.brugerInfo button{
  font-family: "Source Sans 3", sans-serif;
  background-color: black;
  color: var(--Neutral-0);
  border: none;
  font-size: var(--Heading-small-size);
  padding: .5rem 2.5rem;
  margin: 2rem 1rem 0 0;
}

.brugerInfo button:hover{
  background-color: var(--Neutral-75);
}

.brugerBaggrund h3{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin: 1.5rem 0;
}

.brugerBaggrund h3+div{
  padding-bottom: 2rem;
}

.hundGemt{
  display: inline-flex;
  flex-direction: column;
}

.hundGemt{
  padding: 0rem;
  margin-right: 1rem;
  background-color: #F2EACA;
}

.hundGemt p{
  margin: 0;
  text-align: center;
}

.hundGemt p:first-of-type{
  font-family: "Outfit", sans-serif;
  margin: .5rem 0 0 0;
  font-size: var(--Heading-small-size);
  font-weight: 700;
  text-align: center;
}

.hundGemt img{
  height: 12.5rem;
  width: 100%;
}

.hundGemt ul{
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: .5rem;
}

.tipGemt{
  display: inline-flex;
  align-items: center;
  width: 25rem;
  height: 12rem;
  background-color: #F2EACA;
  padding: 1rem;
  margin-right: 1rem;
}

.tipGemt img{
  height: 10rem;
  width: 8rem;
  object-fit: cover;
}

.tipGemt div{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  flex: 1;
}

.tipGemt p{
  text-wrap: wrap;
  text-overflow: ellipsis;
  margin: 0;
  padding-bottom: .5rem;
}

.tipGemt p:first-child{
  font-family: "Outfit", sans-serif;
  font-size: var(--body-regular-size);
  font-weight: 700;
}

.tipGemt ul{
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0 0 .5rem 0;
  margin: 0;
}

.tipGemt li:first-child{
  font-family: "Outfit", sans-serif;
  font-size: var(--body-small-size);
  font-weight: 500;
}

.tipGemt li:last-child{
  font-family: "Outfit", sans-serif;
  font-size: var(--body-small-size);
  font-weight: 300;
}

.brugerOpslagText{
  margin: auto;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.brugerOpslagText p{
  margin: .5rem;
  text-align: center;
}

/*===============================================================================================
    TIPS OG TRICKS STYLING 
===============================================================================================*/

.tipStart {
  text-align: center;
  margin-bottom: 2.5rem;
}

.tipStart h1 {
  margin-bottom: 0.625rem;
  font-size: var(--Heading-hero-size);
}

.tipStart p {
  max-width: 50rem;
  margin: 0 auto;
  font-size: var(--Heading-small-size);
}

/*Øverste tips sektion*/
.tipsSektion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.tip {
  background-color: var(--Primary-50);
  padding: 1.25rem;
  display: flex;
  align-items: center;
}

.tip img {
  width: 14rem;
  height: 10rem;
  margin-right: 1rem;
}

.tipIndhold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.tipIndhold h4{
  font-size: var(--Heading-small-size);
}

.tipIndhold h4,
.tipIndhold p {
  margin: 0;
  margin-right: 3rem;
}

.tipIndhold span {
  background-color: var(--Primary-100);
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}

.tipIndhold i.fa-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.2rem;
  font-size: 1.8rem;
}

.tip {
  position: relative;
}

button.seAlle {
  color: var(--Neutral-0);
  background-color: var(--Neutral-100);
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

/*===============================================================================================
    HISTORIER STYLING 
===============================================================================================*/

.nyheder button {
  color: var(--Neutral-0);
  background-color: var(--Neutral-100);
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.nyheder button:hover {
  background-color: var(--Neutral-75);
}

.fremhævetArtikel {
  display: flex;
  flex-direction: row-reverse;
  padding: 2.5rem;
  background-color: var(--Neutral-25);
  margin: 3.75rem 0;
}

.fremhævetArtikel img {
  width: 40.5rem;
  height: 30rem;
  object-fit: cover;
}

.artikelIndholdFremhævet {
  margin-right: 3.75rem;
}
.artikelIndhold h2, h3 {
  margin-top: 0;
}

.artikel {
  display: flex;
  flex-direction: row-reverse;
  padding: 2.5rem;
  background-color: var(--Primary-50);
  margin: 3.75rem 0;
}

.artikel img {
  width: 37.5rem;
  height: 25.5rem;
  object-fit: cover;
}

.artikelIndholdSmall {
  margin-right: 12.5rem;
}

.artikel2 {
  background-color: var(--Neutral-25);
}

.indlæsFlereArtikler {
  text-align: center;
}

/* Font Awesome Ikoner */
.forfatterDato {
  color: var(--Neutral-50);
  font-weight: bold;
}

.fa-solid {
  margin-right: 0.5rem;
}

/* Ekspert anbefalinger */
.eksperterAnbefalerSektion {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  margin: 3.75rem 0;
}

.anbefalinger {
  width: 48%;
  background-color: var(--Neutral-25);
  padding: 1.25rem;
}

.anbefalinger img {
  height: 18.75rem;
  width: 100%;
  object-fit: cover;
  margin: 1.5rem auto 0;
  display: block;
}

button.seAlle:hover {
  background-color: var(--Neutral-75);
}

/*Brand anbefaler*/
.brandSektion {
  margin-bottom: 2.5rem;
}

.brandSektion h2 {
  font-size: var(--Heading-medium-size);
  margin-bottom: 2rem;
}

.brandContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.brandCard {
  display: flex;
  align-items: flex-start;
  background-color: var(--Primary-50);
  padding: 1.5rem;
}

.brandCard img {
  margin-right: 1.5rem;
  width: 40rem;
}

.brandIndhold h3 {
  font-size: var(--Heading-medium-size);
  margin: 0 0 0.625rem;
}

.brandIndhold p {
  font-size: var(--Heading-small-size);
  font-weight: 400;
}
.brandIndhold i.fa-heart {
  font-size: 1.8rem;
  align-self: flex-end;
}

/*Produktsektion nederst*/
.produktSektion {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2.5rem 0 4.5rem;
}

.produktCard {
  background-color: var(--Primary-50);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.lilleCard {
  width: 30%;
}

.stortCard {
  width: 40%;
  height: 125%;
}

.produktCard img {
  width: 100%;
  margin-bottom: 1.25rem;
}

.stortCard img {
  height: 20rem;
}

.produktIndhold h3 {
  font-size: var(--Heading-small-size);
  margin-bottom: 0.625rem;
}

.produktIndhold p {
  font-size: var(--body-regular-size);
  margin-bottom: 1.25rem;
}

.købKnap {
  color: var(--Neutral-0);
  background-color: var(--Neutral-100);
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.købKnap:hover {
  background-color: var(--Neutral-75);
}

.produktIndhold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.produktTekstOgKnap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.carouselPrikker {
  text-align: center;
  margin-top: 1rem;
}

.prik {
  height: 1rem;
  width: 1rem;
  margin: 1rem;
  background-color: var(--Neutral-50);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.prik.active {
  background-color: var(--Neutral-100);
}
/* 
main{
    max-width: var(--screen-width);
} */
.dog-card {
    background-color: var(--Neutral-25);
    max-width: 30vw;
    margin: auto;
}

.dog-card img {
    max-width: 100%;
}
.dog-card-info {
    text-align: center;
}
.dog-card-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 6rem;
}
.dog-card-info-grid p {
    margin-inline: auto;
}
.dog-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
    margin: auto;
}
.stories {
    background-color: var(--Primary-75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
}
.stories-image img {
    height: 100%;
    width: 100%;
}
.stories p {
    margin-block: 4rem;
    max-width: 50%;
}
